<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>secureUrl</key>
	<string>/secur/frontdoor.jsp?sid=</string>
	<key>apexChatterUrl</key>
	<string>&amp;retURL=/apex/sgwsACNChatter?id=</string>
	<key>endUrl</key>
	<string>/one/one.app?source=alohaHeader#/sObject/Event/home</string>
	<key>retUrl</key>
	<string>&amp;retURL=</string>
	<key>googleUrl</key>
	<string>http://www.google.com</string>
	<key>contactPicklistValue</key>
	<string>ui-api/object-info/Contact/picklist-values/</string>
	<key>rules</key>
	<string>/SGWS_Roles__c</string>
	<key>serviceUrl</key>
	<string>/services/data/v41.0/</string>
	<key>contactRolesPlist</key>
	<string>/ContactRoles.plist</string>
	<key>preferredCommunicationUrl</key>
	<string>/SGWS_Preferred_Communication_Method__c</string>
	<key>contactClassification</key>
	<string>/SGWS_Contact_Classification__c</string>
	<key>contactPreferredPlist</key>
	<string>/ContactPreferred.plist</string>
	<key>contactClassificationPlist</key>
	<string>/ContactClassification.plist</string>
	<key>workorderPicklistValue</key>
	<string>ui-api/object-info/WorkOrder/picklist-values/</string>
	<key>visitPurpose</key>
	<string>/SGWS_Visit_Purpose__c</string>
	<key>accountVisitPurposePlist</key>
	<string>/AccountVisitPurpose.plist</string>
	<key>swsUri</key>
	<string>sws://success</string>
	<key>goalsUrl</key>
	<string>https://sgws-de--dedev1.cs20.my.salesforce.com/analytics/wave/wave.apexp?tsid=02u31000000p1rD#dashboard/0FKm00000004D2wGAE</string>
	<key>netSalesUrl</key>
	<string>https://sgws-de--dedev1.cs20.my.salesforce.com/analytics/wave/wave.apexp?tsid=02u31000000p1rD#dashboard/0FKm00000004D3uGAE</string>
	<key>objectivesUrl</key>
	<string>/lightning/o/SGWS_Objectives__c/list?filterName=Recent&amp;0.source=alohaHeader</string>
	<key>insightsUrl</key>
	<string>/lightning/n/SGWS_Account_Insight</string>
	<key>insightsAccountUrl</key>
	<string>/lightning/n/SGWS_Account_Insight?AccountID=</string>
	<key>homeScreenUrl</key>
	<string>/analytics/wave/wave.apexp?tsid=02u31000000p1rD#application/00lm0000000YTvjAAG/edit</string>
	<key>opportunitiesUrl</key>
	<string>/lightning/r/Opportunity/</string>
	<key>opportunityEndUrl</key>
	<string>/view?0.source=alohaHeader</string>
</dict>
</plist>
