<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<array>
		<dict>
			<key>headerText</key>
			<string>Account Situation</string>
			<key>question</key>
			<string></string>
			<key>questionId</key>
			<string>1</string>
			<key>answers</key>
			<array>
				<dict>
					<key>answerText</key>
					<string>Crown Liquor Store #03 is an off-premise liquor store in Miami, FL.</string>
					<key>answerId</key>
					<string>11</string>
				</dict>
				<dict>
					<key>answerText</key>
					<string>I will spend my time developing a product strategy for you that helps you achieve your goals and understnads your challenges.</string>
					<key>answerId</key>
					<string>12</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>headerText</key>
			<string></string>
			<key>question</key>
			<string>Goals</string>
			<key>questionId</key>
			<string>2</string>
			<key>answers</key>
			<array>
				<dict>
					<key>answerText</key>
					<string>You want to meet the needs of your regulars and stay in business.</string>
					<key>answerId</key>
					<string>11</string>
				</dict>
				<dict>
					<key>answerText</key>
					<string>You know you are succedding when you see your top line sales go up and your inventory turns go up.</string>
					<key>answerId</key>
					<string>12</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>headerText</key>
			<string></string>
			<key>question</key>
			<string>Challenges</string>
			<key>questionId</key>
			<string>2</string>
			<key>answers</key>
			<array>
				<dict>
					<key>answerText</key>
					<string>You have limited cash flow and limited storage space.</string>
					<key>answerId</key>
					<string>11</string>
				</dict>
				<dict>
					<key>answerText</key>
					<string>Your consumers are changing a lot.</string>
					<key>answerId</key>
					<string>12</string>
				</dict>
				<dict>
					<key>answerText</key>
					<string>Your competition is about the same.</string>
					<key>answerId</key>
					<string>12</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>headerText</key>
			<string>Buying Motives</string>
			<key>question</key>
			<string>Task Buying Motives</string>
			<key>questionId</key>
			<string>3</string>
			<key>answers</key>
			<array>
				<dict>
					<key>answerText</key>
					<string>More Profit</string>
					<key>answerId</key>
					<string>11</string>
				</dict>
				<dict>
					<key>answerText</key>
					<string>Better Product/Offering</string>
					<key>answerId</key>
					<string>12</string>
				</dict>
				<dict>
					<key>answerText</key>
					<string>Faster Pull-Through</string>
					<key>answerId</key>
					<string>12</string>
				</dict>
				<dict>
					<key>answerText</key>
					<string>Less Coast</string>
					<key>answerId</key>
					<string>12</string>
				</dict>
				<dict>
					<key>answerText</key>
					<string>Less Effort</string>
					<key>answerId</key>
					<string>12</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>headerText</key>
			<string></string>
			<key>question</key>
			<string>Personal Buying Motives</string>
			<key>questionId</key>
			<string>3</string>
			<key>answers</key>
			<array>
				<dict>
					<key>answerText</key>
					<string>Control</string>
					<key>answerId</key>
					<string>11</string>
				</dict>
				<dict>
					<key>answerText</key>
					<string>Approval</string>
					<key>answerId</key>
					<string>12</string>
				</dict>
				<dict>
					<key>answerText</key>
					<string>Recognition</string>
					<key>answerId</key>
					<string>12</string>
				</dict>
				<dict>
					<key>answerText</key>
					<string>Respect (For Expertise)</string>
					<key>answerId</key>
					<string>12</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>headerText</key>
			<string>Additional Notes</string>
			<key>question</key>
			<string></string>
			<key>questionId</key>
			<string>4</string>
			<key>selectionType</key>
			<string>1</string>
			<key>answers</key>
			<array>
				<dict>
					<key>answerText</key>
					<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum elit nec sollicitudin dignissim. Nullam luctus leo eu urna eleifend finibus. Cras diam ante, faucibus id neque in, sollicitudin porta quam. Nulla posuere elementum ligula. Morbi condimentum lacinia mi. Nulla quis lacus vel ligula rhoncus efficitur pretium ac purus. In hac habitasse platea dictumst. Duis tempor efficitur turpis eu mattis. Morbi sed tortor quam. Suspendisse potenti. Donec pretium justo a lectus aliquam, eget vehicula massa ornare. Sed vel lectus id lacus rutrum egestas ut a eros.</string>
					<key>answerId</key>
					<string>11</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
