<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<array>
		<dict>
			<key>headerText</key>
			<string>Account Insights and Recommendations</string>
			<key>subHeader</key>
			<string></string>
			<key>questionId</key>
			<string>4</string>
			<key>answers</key>
			<array>
				<dict>
					<key>itemName</key>
					<string>Jim Beam White Label 1L</string>
					<key>itemDescription</key>
					<string>-15% decreasing sales over R12</string>
					<key>answerId</key>
					<string>11</string>
					<key>objectives</key>
					<string>3</string>
					<key>cases</key>
					<string>20</string>
					<key>changes</key>
					<string>+ 18 %</string>
					<key>status</key>
					<string>1</string>
					<key>percentage</key>
					<string>0</string>
				</dict>
				<dict>
					<key>itemName</key>
					<string>Jim Beam White Label 1L</string>
					<key>itemDescription</key>
					<string>-15% decreasing sales over R12</string>
					<key>answerId</key>
					<string>11</string>
					<key>objectives</key>
					<string>3</string>
					<key>cases</key>
					<string>20</string>
					<key>changes</key>
					<string>+ 18 %</string>
					<key>status</key>
					<string>0</string>
					<key>percentage</key>
					<string>1</string>
				</dict>
				<dict>
					<key>itemName</key>
					<string>Jim Beam White Label 1L</string>
					<key>itemDescription</key>
					<string>-15% decreasing sales over R12</string>
					<key>answerId</key>
					<string>11</string>
					<key>objectives</key>
					<string>3</string>
					<key>cases</key>
					<string>20</string>
					<key>changes</key>
					<string>+ 18 %</string>
					<key>status</key>
					<string>1</string>
					<key>percentage</key>
					<string>0</string>
				</dict>
				<dict>
					<key>itemName</key>
					<string>Jim Beam White Label 1L</string>
					<key>itemDescription</key>
					<string>-15% decreasing sales over R12</string>
					<key>answerId</key>
					<string>11</string>
					<key>objectives</key>
					<string>3</string>
					<key>cases</key>
					<string>20</string>
					<key>changes</key>
					<string>+ 18 %</string>
					<key>status</key>
					<string>0</string>
					<key>percentage</key>
					<string>1</string>
				</dict>
				<dict>
					<key>itemName</key>
					<string>Jim Beam White Label 1L</string>
					<key>itemDescription</key>
					<string>-15% decreasing sales over R12</string>
					<key>answerId</key>
					<string>11</string>
					<key>objectives</key>
					<string>3</string>
					<key>cases</key>
					<string>20</string>
					<key>changes</key>
					<string>+ 18 %</string>
					<key>status</key>
					<string>0</string>
					<key>percentage</key>
					<string>1</string>
				</dict>
				<dict>
					<key>itemName</key>
					<string>Jim Beam White Label 1L</string>
					<key>itemDescription</key>
					<string>-15% decreasing sales over R12</string>
					<key>answerId</key>
					<string>11</string>
					<key>objectives</key>
					<string>3</string>
					<key>cases</key>
					<string>20</string>
					<key>changes</key>
					<string>+ 18 %</string>
					<key>status</key>
					<string>1</string>
					<key>percentage</key>
					<string>0</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
