<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RemoteAccessConsumerKey</key>
	<string>3MVG9PerJEe9i8iKLh_JXo.OfOiFRNLhKUjP5L4d6IVys8eQ1ewjFOyFOKNui6GheqMhkuyETiE.rvKgowekG</string>
	<key>OAuthRedirectURI</key>
	<string>sws://success</string>
</dict>
</plist>
