<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RemoteAccessConsumerKey</key>
	<string>3MVG9ifmAKCHISbYK1eSz9ju2BJlU6xXXblAG1DxAuorvOWQLJdSoCEYBHMY25X1taJY7wQ5fk8WcLwhxRW0N</string>
	<key>OAuthRedirectURI</key>
	<string>sws://success</string>
</dict>
</plist>
